.secEvent{
    border: 1px solid;
    width: fit-content;
}
.btn{
    background-color:orange;
    font-weight: bold;
    border: 5px solid;
    border-radius: 5px;
}
.event{
    border: 1px solid;
    width: fit-content;
}
